:root {
  /* background-color: #111;
  color: #FFF */
  color-scheme: light dark;
  --hover-color: dodgerblue;
}

ul {
  list-style-type: none;
  margin: 0;
  /* if display:inline is set then must set padding*/
  padding: 1rem;
  overflow: hidden;
  background-color: #333;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-color: cadetblue;
}
#home {
  font-size: large;
  margin-left:1em;
  margin-right:1em;
}

li {
  display:inline;
  /* float: left; */
}

li a {
  /* display: block; */
  color: white;
  text-align: center;
  /* padding: x-axis y-axis*/
  padding: 1.4rem 1.6rem;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color:var(--hover-color);
}